{% extends 'base.html' %}
{% load static %}

{% block head_tag_add %}
    <title>
        EditProfile
    </title> 
    <link rel="stylesheet" href="{% static 'css/edit.css' %}" /> 
{% endblock %}

{% block content %}

    <div 
        class="container">
            <form 
                method="post" 
                action="." 
                autocomplete="off" 
                enctype="multipart/form-data"
                > 

                {{ profile_form.as_p }}

                <button 
                    type="submit" >
                    submit 
                </button> 
                {% csrf_token %} 
            </form> 
    
    </div> 

{% endblock %}