{% extends 'base.html' %}
{% load static %}

{% block head_tag_add %}
    <title>
        EditProfile
    </title> 
{% endblock %}

{% block content %}

    <div 
        class="container">
            <form 
                method="post" 
                action="." 
                autocomplete="off" > 

                {{ profile_form.as_p }}

                <button 
                    type="submit" >
                    submit 
                </button>  
            </form> 
    
    </div> 

{% endblock %}